<div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeButton">&times;</button>
        <h3 class="modal-title text-center" id="myModalLabel">New game</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group text-center" id="game">
              <label for="gameName">Name</label>
              <input type="text" placeholder="Name" class="form-control" id="gameName">
              <br/>
              <label for="players">Players</label>
              <input type="text" placeholder="Username" class="form-control username">
              <input type="text" placeholder="Username" class="form-control username">
            </div>
            <span class="glyphicon glyphicon-plus center" id="morePlayers" style="text-align: center; width: 100%"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Cancel</button>
        <button type="button" class="btn btn-primary" id="start-game">Start</button>
      </div>
    </div>
  </div>
</div>