<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-tabs" id = "stats-tab">
      <li class="active"><a href="#champ" data-toggle="tab">Reigning Champ</a></li>
      <li><a href="#wins" data-toggle="tab">Wins</a></li>
      <li><a href="#consecutive" data-toggle="tab">Consecutive Wins</a></li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="champ">Champ</div>
      <div class="tab-pane" id="wins">Wins</div>
      <div class="tab-pane" id="consecutive">Consecutive</div>
    </div>
  </div>
</div>